################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/src/.vs
/src/Template_Wrapper/.vs/Template_Wrapper/FileContentIndex
/src/Template_Wrapper/obj
/src/Template_Wrapper/packages
/src/Template_Wrapper/bin
/src/Template_Wrapper/.vs
/src/TimelineDB_Wrapper/obj
/src/TimelineDB_Wrapper/packages
/src/TimelineDB_Wrapper/bin
/src/TimelineDB_Wrapper/.vs
/src/ProjectDB_Wrapper/packages
/src/ProjectDB_Wrapper/obj
/src/ProjectDB_Wrapper/.vs
/src/ProjectDB_Wrapper/bin
/src/DesignerDB_Wrapper/bin/Debug
/src/DesignerDB_Wrapper/obj/Debug
/src/DesignerDB_Wrapper/packages
/src/DesignerDB_Wrapper/.vs/DesignerDB_Wrapper
/src/HlstsDB_Wrapper/.vs/HlstsDB_Wrapper
/src/HlstsDB_Wrapper/bin/Debug
/src/HlstsDB_Wrapper/obj/Debug
/src/HlstsDB_Wrapper/packages
/src/NotesDB_Wrapper/.vs/NotesDB_Wrapper
/src/NotesDB_Wrapper/bin/Debug
/src/NotesDB_Wrapper/obj/Debug
/src/NotesDB_Wrapper/packages
/src/ScreenRecorderDB_Wrapper/.vs/ScreenRecorderDB_Wrapper
/src/ScreenRecorderDB_Wrapper/bin/Debug
/src/ScreenRecorderDB_Wrapper/obj/Debug
/src/ScreenRecorderDB_Wrapper/packages
/src/DesignerImageDB_Wrapper/.vs/DesignerImageDB_Wrapper
/src/DesignerImageDB_Wrapper/obj/Debug
/src/DesignerImageDB_Wrapper/packages
/src/DesignerImageDB_Wrapper/bin/Debug
/src/AudioDB_Wrapper/obj/Debug
/src/AudioDB_Wrapper/packages
/src/AudioDB_Wrapper/.vs/AudioDB_Wrapper
/src/Test_Wrapper/obj/Debug
/src/Test_Wrapper/packages
/src/Test_Wrapper/.vs/Test_Wrapper
/src/Test_Wrapper/bin/Debug
/src/AudioDB_Wrapper/bin/Debug
/src/TestMediaUpload_UserControl/.vs/TestMediaUpload_UserControl
/src/TestMediaUpload_UserControl/bin/Debug
/src/TestMediaUpload_UserControl/obj/Debug
/src/TestMediaUpload_UserControl/packages
/src/TestGridDisplay_UserControl/packages
/src/TestGridDisplay_UserControl/bin/Debug
/src/TestGridDisplay_UserControl/.vs/TestGridDisplay_UserControl
/src/TestGridDisplay_UserControl/obj/Debug
/src/TestTimeline_UserControl/packages
/src/TestTimeline_UserControl/.vs/TestTimeline_UserControl
/src/TestTimeline_UserControl/bin/Debug
/src/TestTimeline_UserControl/obj/Debug
/src/TestProject_UserControl/packages
/src/TestProject_UserControl/obj/Debug
/src/TestProject_UserControl/.vs/TestProject_UserControl
/src/TestProject_UserControl/bin/Debug
/src/Sample/.vs/Sample
/src/Sample/bin/Debug
/src/Sample/obj/Debug
/src/TestVideoCreator/.vs/TestVideoCreator
/src/TestVideoCreator/bin/Debug
/src/TestVideoCreator/obj/Debug
/src/TestVideoCreator/packages
/src/Authentication_Wrapper/.vs
/src/Authentication_Wrapper/bin/Debug
/src/Authentication_Wrapper/obj/Debug
/src/Authentication_Wrapper/packages
/src/Notes_Wrapper/.vs/Notes_Wrapper
/src/Notes_Wrapper/bin/Debug
/src/Notes_Wrapper/obj/Debug
/src/Notes_Wrapper/packages
/src/TestNotes_UserControl/.vs/TestNotes_UserControl
/src/TestNotes_UserControl/bin/Debug
/src/TestNotes_UserControl/obj/Debug
/src/TestNotes_UserControl/packages
/src/TestVideoCreator/bin/Release
/src/TestVideoCreator/obj/Release/
/src/TestVideoCreator/bin/x86/Debug
/src/TestVideoCreator/obj/x86/Debug
/src/TestGridDisplay_UserControl/bin/Release
/src/TestGridDisplay_UserControl/obj/Release
/src/TestVideoCreator/obj/x64/Debug
/src/TestNotes_UserControl/bin/Release
/src/TestNotes_UserControl/obj/Release
/src/DebugVideoCreator/.vs/DebugVideoCreator
/src/DebugVideoCreator/bin/Debug
/src/DebugVideoCreator/obj/Debug
/src/DebugVideoCreator/packages
/src/UserControls/TestGridDisplay_UserControl/.vs/TestGridDisplay_UserControl
/src/UserControls/TestGridDisplay_UserControl/bin/Release
/src/UserControls/TestGridDisplay_UserControl/obj
/src/UserControls/TestGridDisplay_UserControl/packages
/src/UserControls/TestMediaUpload_UserControl/.vs/TestMediaUpload_UserControl
/src/UserControls/TestMediaUpload_UserControl/bin/Debug
/src/UserControls/TestMediaUpload_UserControl/obj/Debug
/src/UserControls/TestMediaUpload_UserControl/packages
/src/UserControls/TestNotes_UserControl/.vs/TestNotes_UserControl
/src/UserControls/TestNotes_UserControl/bin
/src/UserControls/TestNotes_UserControl/obj
/src/UserControls/TestNotes_UserControl/packages
/src/UserControls/TestProject_UserControl/.vs/TestProject_UserControl
/src/UserControls/TestProject_UserControl/bin/Debug
/src/UserControls/TestProject_UserControl/obj/Debug
/src/UserControls/TestProject_UserControl/packages
/src/UserControls/TestTimeline_UserControl/.vs/TestTimeline_UserControl
/src/UserControls/TestTimeline_UserControl/bin/Debug
/src/UserControls/TestTimeline_UserControl/obj/Debug
/src/UserControls/TestTimeline_UserControl/packages
/src/DebugVideoCreator/UserControls/TestGridDisplay_UserControl/.vs/TestGridDisplay_UserControl
/src/DebugVideoCreator/UserControls/TestGridDisplay_UserControl/bin/Release
/src/DebugVideoCreator/UserControls/TestGridDisplay_UserControl/obj
/src/DebugVideoCreator/UserControls/TestGridDisplay_UserControl/packages
/src/DebugVideoCreator/UserControls/TestMediaUpload_UserControl/.vs/TestMediaUpload_UserControl
/src/DebugVideoCreator/UserControls/TestMediaUpload_UserControl/bin/Debug/MediaFiles
/src/DebugVideoCreator/UserControls/TestMediaUpload_UserControl/bin/Debug
/src/DebugVideoCreator/UserControls/TestMediaUpload_UserControl/obj/Debug
/src/DebugVideoCreator/UserControls/TestMediaUpload_UserControl/packages
/src/DebugVideoCreator/UserControls/TestNotes_UserControl/.vs/TestNotes_UserControl
/src/DebugVideoCreator/UserControls/TestNotes_UserControl/bin
/src/DebugVideoCreator/UserControls/TestNotes_UserControl/obj
/src/DebugVideoCreator/UserControls/TestNotes_UserControl/packages
/src/DebugVideoCreator/UserControls/TestProject_UserControl/.vs/TestProject_UserControl
/src/DebugVideoCreator/UserControls/TestProject_UserControl/bin/Debug
/src/DebugVideoCreator/UserControls/TestProject_UserControl/obj/Debug
/src/DebugVideoCreator/UserControls/TestProject_UserControl/packages
/src/DebugVideoCreator/UserControls/TestTimeline_UserControl/.vs/TestTimeline_UserControl
/src/DebugVideoCreator/UserControls/TestTimeline_UserControl/bin/Debug
/src/DebugVideoCreator/UserControls/TestTimeline_UserControl/obj/Debug
/src/DebugVideoCreator/UserControls/TestTimeline_UserControl/packages
/src/DebugVideoCreator/UserControls/TestGridDisplay_UserControl/bin/Debug
/.vs
/src/Notes_Control_FromJerry/NotesManage_UserControl/.vs/NotesManage_UserControl
/src/Notes_Control_FromJerry/NotesManage_UserControl/bin/Debug
/src/Notes_Control_FromJerry/NotesManage_UserControl/obj/Debug
/src/Notes_Control_FromJerry/NotesManage_UserControl/packages
/src/Notes_Control_FromJerry/NotesRead_UserControl/.vs/NotesRead_UserControl
/src/Notes_Control_FromJerry/NotesRead_UserControl/bin/Debug
/src/Notes_Control_FromJerry/NotesRead_UserControl/obj/Debug
/src/Notes_Control_FromJerry/NotesRead_UserControl/packages
/src/Notes_Control_FromJerry/Notes_Wrapper/.vs/Notes_Wrapper
/src/Notes_Control_FromJerry/Notes_Wrapper/bin/Debug
/src/Notes_Control_FromJerry/Notes_Wrapper/obj/Debug
/src/Notes_Control_FromJerry/Notes_Wrapper/packages
/src/ScreenRecorder_FromJerry/18_ScreenRecorder_UserControl/17_ScreenRecorder_UserControl/ScreenRecorder_UserControl/.vs/ScreenRecording_UserControl
/src/ScreenRecorder_FromJerry/18_ScreenRecorder_UserControl/17_ScreenRecorder_UserControl/ScreenRecorder_UserControl/bin
/src/ScreenRecorder_FromJerry/18_ScreenRecorder_UserControl/17_ScreenRecorder_UserControl/ScreenRecorder_UserControl/obj
/src/ScreenRecorder_FromJerry/18_ScreenRecorder_UserControl/17_ScreenRecorder_UserControl/ScreenRecorder_UserControl/packages
/src/ScreenRecorder_FromJerry/18_ScreenRecorder_Wrapper/16_ScreenRecorder_Wrapper/.vs/16_ScreenRecorder_Wrapper
/src/ScreenRecorder_FromJerry/18_ScreenRecorder_Wrapper/16_ScreenRecorder_Wrapper/bin/Debug
/src/ScreenRecorder_FromJerry/18_ScreenRecorder_Wrapper/16_ScreenRecorder_Wrapper/obj/Debug
/src/ScreenRecorder_FromJerry/18_ScreenRecorder_Wrapper/16_ScreenRecorder_Wrapper/packages
/src/TestVideoCreator/.vs/VideoCreator
/src/VideoCreator/.vs
/src/VideoCreator/bin/Debug
/src/VideoCreator/obj/Debug
/src/VideoCreator/packages
/src/DebugVideoCreator/UserControls/NotesManage_UserControl/.vs/NotesManage_UserControl
/src/DebugVideoCreator/UserControls/NotesManage_UserControl/bin/Debug
/src/DebugVideoCreator/UserControls/NotesManage_UserControl/obj/Debug
/src/DebugVideoCreator/UserControls/NotesManage_UserControl/packages
/src/DebugVideoCreator/UserControls/NotesRead_UserControl/.vs/NotesRead_UserControl
/src/DebugVideoCreator/UserControls/NotesRead_UserControl/bin/Debug
/src/DebugVideoCreator/UserControls/NotesRead_UserControl/obj/Debug
/src/DebugVideoCreator/UserControls/NotesRead_UserControl/packages
/src/ScreenRecorder_FromJerry/ScreenRecorder_UserControl/.vs/ScreenRecording_UserControl
/src/ScreenRecorder_FromJerry/ScreenRecorder_UserControl/obj/Debug
/src/ScreenRecorder_FromJerry/ScreenRecorder_UserControl/packages
/src/ScreenRecorder_FromJerry/ScreenRecorder_Wrapper/.vs
/src/ScreenRecorder_FromJerry/ScreenRecorder_Wrapper/bin/Debug
/src/ScreenRecorder_FromJerry/ScreenRecorder_Wrapper/obj/Debug
/src/ScreenRecorder_FromJerry/ScreenRecorder_Wrapper/packages
/src/DebugVideoCreator/UserControls/ScreenRecorder_UserControl/.vs/ScreenRecording_UserControl
/src/DebugVideoCreator/UserControls/ScreenRecorder_UserControl/obj/Debug
/src/DebugVideoCreator/UserControls/ScreenRecorder_UserControl/packages
/src/DebugVideoCreator/UserControls/ScreenRecorder_UserControl/bin/Debug
/src/DebugVideoCreator/UserControls/Designer_UserControl/.vs
/src/DebugVideoCreator/UserControls/Designer_UserControl/Designer_UserControl/bin
/src/DebugVideoCreator/UserControls/Designer_UserControl/Designer_UserControl/obj
/src/DebugVideoCreator/UserControls/Designer_UserControl/packages
/src/DebugVideoCreator/UserControls/DesignImager_UserControl/.vs/DesignImager-wrapper
/src/DebugVideoCreator/UserControls/DesignImager_UserControl/DesignImager_UserControl/bin/Debug
/src/DebugVideoCreator/UserControls/DesignImager_UserControl/DesignImager_UserControl/obj/Debug
/src/DebugVideoCreator/UserControls/DesignImager_UserControl/packages
/src/TimelineDB_Debug_New/.vs
/src/TimelineDB_Debug_New/obj/Debug
/src/TimelineDB_Debug_New/packages
/src/TimelineDB_Debug_New/UserControls/ScreenRecorder_UserControl/.vs/ScreenRecording_UserControl
/src/TimelineDB_Debug_New/UserControls/ScreenRecorder_UserControl/obj/Debug
/src/TimelineDB_Debug_New/UserControls/ScreenRecorder_UserControl/packages
/src/TimelineDB_Debug_New/UserControls/TestTimeline_UserControl/.vs/TestTimeline_UserControl
/src/TimelineDB_Debug_New/UserControls/TestTimeline_UserControl/bin/Debug
/src/TimelineDB_Debug_New/UserControls/TestTimeline_UserControl/obj/Debug
/src/TimelineDB_Debug_New/UserControls/TestTimeline_UserControl/packages
/src/TimelineDB_Wrapper_New/.vs
/src/TimelineDB_Wrapper_New/packages
/src/DebugVideoCreator/UserControls/TestAudio_UserControl/.vs/TestTimeline_UserControl
/src/DebugVideoCreator/UserControls/TestAudio_UserControl/bin/Debug
/src/DebugVideoCreator/UserControls/TestAudio_UserControl/obj/Debug
/src/DebugVideoCreator/UserControls/TestAudio_UserControl/packages
/src/AuthenitcationProject/Authentication_UserControl/.vs
/src/AuthenitcationProject/Authentication_UserControl/bin/Debug/net48
/src/AuthenitcationProject/Authentication_UserControl/obj
/src/AuthenitcationProject/Authentication_UserControl/packages
/src/AuthenitcationProject/Authentication_Wrapper/.vs
/src/AuthenitcationProject/Authentication_Wrapper/bin/Debug
/src/AuthenitcationProject/Authentication_Wrapper/obj/Debug
/src/AuthenitcationProject/Authentication_Wrapper/packages
/src/AuthenitcationProject/dbTransferUser_UserControl/.vs/dbTransferUser_UserControl
/src/AuthenitcationProject/dbTransferUser_UserControl/bin/Debug
/src/AuthenitcationProject/dbTransferUser_UserControl/obj/Debug
/src/AuthenitcationProject/dbTransferUser_UserControl/packages
/src/DebugAuthenitcationProject/.vs
/src/DebugAuthenitcationProject/bin
/src/DebugAuthenitcationProject/Dependencies/Authentication_UserControl/.vs
/src/DebugAuthenitcationProject/Dependencies/Authentication_UserControl/bin
/src/DebugAuthenitcationProject/Dependencies/Authentication_UserControl/packages
/src/DebugAuthenitcationProject/Dependencies/Authentication_UserControl/obj
/src/DebugAuthenitcationProject/Dependencies/dbTransferUser_UserControl/packages
/src/DebugAuthenitcationProject/obj
/src/DebugAuthenitcationProject/packages
/src/AuthenitcationProject/bin/Debug
/src/AuthenitcationProject/.vs
/src/AuthenitcationProject/obj/Debug
/src/AuthenitcationProject/packages
/src/DebugAuthenitcationProject/Dependencies/dbTransferUser_UserControl/.vs/dbTransferUser_UserControl
/src/DebugAuthenitcationProject/Dependencies/dbTransferUser_UserControl/bin/Debug
/src/DebugAuthenitcationProject/Dependencies/dbTransferUser_UserControl/obj/Debug
/src/DebugVideoCreator/UserControls/Notes_UserControl/.vs/TestNotes_UserControl
/src/DebugVideoCreator/UserControls/Notes_UserControl/bin/Debug
/src/DebugVideoCreator/UserControls/Notes_UserControl/obj/Debug
/src/DebugVideoCreator/UserControls/Notes_UserControl/packages
/src/DebugVideoCreator/UserControls/DesignView_UserControl/bin/Debug
/src/DebugVideoCreator/UserControls/DesignView_UserControl/.vs/TestTimeline_UserControl
/src/DebugVideoCreator/UserControls/DesignView_UserControl/obj/Debug
/src/DebugVideoCreator/UserControls/DesignView_UserControl/packages
/src/DebugVideoCreator/UserControls/DesignView_UserControl/.vs/DesignView_UserControl
/src/DebugVideoCreator/UserControls/WMPLibrary/bin/Debug
/src/DebugVideoCreator/UserControls/WMPLibrary/obj/Debug
/src/TestTimeline_UserControl_old/.vs/TestTimeline_UserControl
/src/TestTimeline_UserControl_old/bin/Debug
/src/TestTimeline_UserControl_old/obj/Debug
/src/TestTimeline_UserControl_old/packages
/src/DebugVideoCreator/UserControls/Timeline_UserControl/obj/Debug
/src/DebugVideoCreator/UserControls/Timeline_UserControl/packages
/src/DebugVideoCreator/UserControls/Timeline_UserControl/.vs/Timeline_UserControl
/src/DebugVideoCreator/UserControls/Timeline_UserControl/bin/Debug
/src/TestAudio_UserControl/.vs/TestTimeline_UserControl
/src/TestAudio_UserControl/bin/Debug
/src/TestAudio_UserControl/obj/Debug
/src/TestAudio_UserControl/packages
/src/DebugVideoCreator/UserControls/Audio_UserControl/.vs/WavePlayer_Wrapper
/src/DebugVideoCreator/UserControls/Audio_UserControl/obj/Debug
/src/DebugVideoCreator/UserControls/Audio_UserControl/packages
/src/DebugVideoCreator/UserControls/Audio_UserControl/.vs/Audio_UserControl
/src/DebugVideoCreator/UserControls/Audio_UserControl/bin/Debug
/src/DebugVideoCreator/UserControls/FSP_UserControl/.vs
/src/DebugVideoCreator/UserControls/FSP_UserControl/FSP_UserControl/bin/Debug
/src/DebugVideoCreator/UserControls/FSP_UserControl/FSP_UserControl/obj/Debug
/src/DebugVideoCreator/UserControls/FSP_UserControl/packages
/src/DesignView_UserControl/.vs
/src/DesignView_UserControl/bin/Debug
/src/DesignView_UserControl/obj/Debug
/src/DesignView_UserControl/packages
/src/DebugVideoCreator/UserControls/FSP_UserControl/FSP_UserControl/Libraries/ffprobe.exe
/src/Sample_App_ScreenRecording/.vs/Sample_App_ScreenRecording
/src/Sample_App_ScreenRecording/bin/x86/Debug
/src/Sample_App_ScreenRecording/obj
/src/DebugVideoCreator/UserControls/FSP_UserControl/FSP_UserControl/Libraries/ffmpeg.exe
/src/DebugVideoCreator/UserControls/ScreenRecording_UserControl/packages
/src/DebugVideoCreator/UserControls/ScreenRecording_UserControl/ScreenRecording_UserControl/Libraries/ffmpeg.exe
/src/DebugVideoCreator/UserControls/ScreenRecording_UserControl/ScreenRecording_UserControl/obj/Debug
/src/ScreenRecorder_UserControl/.vs/ScreenRecording_UserControl
/src/ScreenRecorder_UserControl/obj/Debug
/src/ScreenRecorder_UserControl/packages
/src/DebugVideoCreator/UserControls/ScreenRecording_UserControl/.vs/ScreenRecording_UserControl
/src/DebugVideoCreator/UserControls/ScreenRecording_UserControl/ScreenRecording_UserControl/bin/Debug
/src/NotesRead_UserControl/.vs/NotesRead_UserControl
/src/NotesRead_UserControl/obj/Debug
/src/NotesRead_UserControl/packages
