<?xml version="1.0" encoding="utf-8" ?>
<nlog
  xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

	<targets>
		<target xsi:type="Console" name="console" layout="${longdate}|${level:uppercase=true}|${logger}|${message}" />
		<target xsi:type="File" name="file" layout="${longdate}|${level:uppercase=true}|${logger}|${message}" fileName="NLog.log" />
	</targets>

	<rules>
		<logger name="*" minlevel="Trace" writeTo="console,file" />
		<logger name="*" minlevel="Debug" writeTo="file" />
		<logger name="*" minlevel="Info" writeTo="file" />
		<logger name="*" minlevel="Warn" writeTo="file" />
		<logger name="*" minlevel="Error" writeTo="file" />
		<logger name="*" minlevel="Fatal" writeTo="file" />
	</rules>
</nlog>